.Rproj.user/
.Rhistory

# renv files to ignore
renv/library/
renv/staging/
renv/cache/
renv/python/

# Ignore all data files
data/*

# And keep files inside species_names
!data/species_names/
!data/species_names/**

# Ignore shinyapps.io related files
rsconnect/